.leaflet-container {
  min-height: 700px;
  max-height: 800px;
  width: 100%;
}
html, body, #root, #root>div {
  height: 100%;
  background-color: #3f3c3c;
  font-family: 'Arvo', serif;
}
.MuiBottomNavigationAction-root.Mui-selected {
  /* color: #3f51b5; */
  padding-top: 6px;
  font-size: 30px;
  color: white !important;
}